{% extends "base.html" %}

{% block title %} {{project.project_name}} {% endblock %}

{% block funcCall %}onload="startCalibration({{project.widthPx}}, {{project.heightPx}}, {{ project.id }})"{% endblock %}

{% block extraStatic %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/calibration.css') }}">
{% endblock %}

{% block content %}
  <div id="canvasDiv">
  </div>

  <div class="controller">
    <button onmousedown="moveupleft()" onmouseup="clearmove()" ontouchstart="moveupleft()">Up Left</button>
    <button onmousedown="movedownright()" onmouseup="clearmove()" ontouchstart="movedownright()">Down Right</button><br>
    <button onmousedown="movedownleft()" onmouseup="clearmove()" ontouchstart="movedownleft()">Down Left</button>
    <button onmousedown="moveupright()" onmouseup="clearmove()" ontouchstart="moveupright()">Up Right</button>
  </div>
  <div class="slidecontainer">
    <input type="range" min="1" max="1023" value="1" class="slider" id="myRange">
  </div>
  <a href="{{ url_for('canvas',id=project.id) }}"><button>Calibrate</button></a>

  <script src = "{{ url_for('static', filename='javascript/calibration.js') }}"></script>

{% endblock %}
